body
{
color:black;
background-color:yellow;
}
h1
{
	font-family: Elephant;
}
h2
{
	font-family: Calibri;
}
h3
{
	font-family: Century;
}
h4
{
	font-family: Candara;
}
h5
{
	font-family: Impact;
}
h6
{
	font-family: Rockwell;
}
h7
{
	font-family: Georgia;
}
